<launch>

    <node name="vio_visual" pkg="data_publish" type="vio_visual" output="screen" >
        <param name="vio_csv_file" value="$(find data_publish)/data/vio_test/odometry.csv"/>
    </node>

    <arg name="rviz_config" default="$(find data_publish)/rviz/1.rviz"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" output="screen"/>

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_base_link" args="0 0 0 0 0 0 map base_link" /> -->

</launch>